{% assign fields = site.data.page_papers.fields.hero %}
<div class="papers-hero">
  <div class="papers-hero__container container">
    <h1 class="papers-hero__heading heading-h1">
      {{ fields.heading | markdownify | remove: '<p>' | remove: '</p>' }}
    </h1>
  </div>
  <div class="papers-hero__decor-wrap decor-wrap">
    <img
      class="papers-hero__decor-bg papers-hero__decor-bg_bg-18 decor-wrap_bg"
      src="{{'/assets/images/decor/decor-bg-18.svg' | relative_url}}"
      alt=""
    />
  </div>
</div>
