{% assign fields = site.data.page_team.fields.who %}
<div class="team-who">
  <div class="team-who__container container">
    <div class="team-who__content-col content-col content-col_left">
      <h2 class="team-who__heading heading-h2 heading-h2_no-border">
        {{ fields.heading | markdownify | remove: '<p>' | remove: '</p>' }}
      </h2>
      <div class="team-who__text">
        {{ fields.text | markdownify }}
      </div>
    </div>
  </div>
  <div class="team-who__decor-wrap decor-wrap">
    <img
      class="team-who__decor-bg team-who__decor-bg_bg-24 decor-wrap_bg"
      src="{{'/assets/images/decor/decor-bg-24.svg' | relative_url}}"
      alt=""
    />
  </div>
</div>
