.footer {
  position: relative;
  z-index: 1;
  flex-shrink: 0;
  margin: 0;
  padding: 0;
  page-break-inside: avoid;
  background: linear-gradient(95.73deg, #540199 11.26%, #be3970 64.81%, #be3970 109.18%);
}

.footer__container {
  position: relative;
}

/* Content */

.footer__inset {
  display: flex;
  flex-grow: 1;
  flex-flow: row nowrap;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  margin: 0 -30px;
  padding: 48px 0;

  @include breakpoint-lo($small-viewport) {
    width: 100%;
    margin: 0;
    padding: 60px 0 80px;
  }

  @include breakpoint-lo($smaller-viewport) {
    flex-wrap: wrap;
    justify-content: flex-start;
  }
}

.footer__group {
  padding: 0 30px;

  @include breakpoint-lo($small-viewport) {
    padding: 0 40px 0 0;
  }

  @include breakpoint-lo($smaller-viewport) {
    width: 100%;
    margin: 0 0 30px;
  }
}

.footer__group-title {
  display: block;
  margin: 0 0 12px;
  font-weight: 600;
  font-size: 16px;

  @include breakpoint-lo($smaller-viewport) {
    margin: 0 0 16px;
    font-size: 20px;
  }
}

/* Nav */

.footer__nav {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer__nav-item {
  margin: 0 0 12px;
  padding: 0;

  @include breakpoint-lo($smaller-viewport) {
    margin: 0 0 16px;
  }
}

.footer__link {
  color: #fff;
  font-size: 16px;
  text-decoration: none;
  opacity: 0.8;
  transition: opacity 0.3s;

  &:hover {
    color: #fff;
    opacity: 1;
  }

  @include breakpoint-lo($smaller-viewport) {
    font-size: 20px;
  }
}

.footer__link-icon {
  display: inline-block;
  vertical-align: middle;
  width: 16px;
  height: 17px;
  margin: -1px 0 0;
  color: currentColor;

  @include breakpoint-lo($smaller-viewport) {
    width: 20px;
    height: 20px;
  }
}
